# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

themes/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Misc
*.swp
*.bak
*.tmp
*.orig
*.rej
*.out